<!DOCTYPE html>
<html>
  <head>
    <title>Put HTML</title>
    <style>
      * { margin: 0; font-family: sans-serif; }
      body { margin: 5em; }
      h1 { margin-bottom: 1em; }
      p.error { color: #900; margin-bottom: 1em; }
      button { visibility: hidden; }
    </style>
  </head>
  <body>
    <h1>Put HTML</h1>
    <form method="post" action="/" id="form_create" enctype="multipart/form-data">
      <% if @error %>
        <p class="error"><%= @error %>
      <% end %>
      <input type="file" name="file" id="file">
      <button>Put HTML</button>
    </form>
    <script>
      document.getElementById("file").addEventListener("change", function() {
        document.getElementById("form_create").submit()
      })
    </script>
  </body>
</html>