<!DOCTYPE html>
<html>
  <head>
    <title>Put HTML</title>
    <meta name='viewport' content='width=device-width'>
    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>">
  </head>
  <body>
    <h1>Put HTML</h1>

    <% if @error %>
      <p class="error"><%= @error %></p>
    <% end %>

    <%= yield %>

    <p class="who-mike-jones">
      <small><a href="http://twitter.com/johnholdun">@johnholdun</a></small>
      <small><a href="http://twitter.com/negatendo">@negatendo</a></small>
      <small><a href="http://twitter.com/ckolderup">@ckolderup</a></small>
    </p>

  </body>
</html>
