<!DOCTYPE html>
<html>
  <head>
    <title>Put HTML</title>
    <meta name='viewport' content='width=device-width'>
    <style>
      * { margin: 0; padding: 0; font-family: sans-serif; }
      body { margin: 5em; }
      h1, form, p { margin-bottom: 1em; }
      p.error { color: #900; }
      .sign-in { color: #fff; background: #209be9; text-decoration: none; display: inline-block; padding: 0.5em 1em; box-shadow: 0 1px 1px #ccc; }
      button { visibility: hidden; }
      h2 { margin: 2em 0 0.5em; font-size: 1em; }
      #documents { list-style: none; }
      #documents li { margin-bottom: 0.5em; }
      #documents a { color: #009; text-decoration: none; display: block; }
      #documents strong { font-weight: normal; display: block; }
      #documents em { font-style: normal; font-size: 0.75em; }
      .who-mike-jones { margin: 6em 0 0; }
      .who-mike-jones a { color: #ccc; text-decoration: none; }
      .who-mike-jones a:hover { color: #99e; }

      @media (max-width: 640px) {
        body {
          margin: 1em;
        }
      }
    </style>
  </head>
  <body>
    <h1>Put HTML</h1>

    <% if @error %>
      <p class="error"><%= @error %></p>
    <% end %>

    <%= yield %>

    <p class="who-mike-jones">
      <small><a href="http://twitter.com/johnholdun">@johnholdun</a></small>
      <small><a href="http://twitter.com/negatendo">@negatendo</a></small>
      <small><a href="http://twitter.com/ckolderup">@ckolderup</a></small>
    </p>

  </body>
</html>
