* {
  margin: 0;
  padding: 0;
}

body {
  margin: 5em;
  max-width: 60em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgb(30, 30, 35);
  font-family: jaf-bernino-sans;
  font-size: 20px;
  line-height: 30px;
}

h1, p {
  margin-bottom: 1em;
}

h1 {
  font-size: 1.5em;
  line-height: 1.333em;
}

#title {
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

#title a {
  font-size: inherit;
  color: inherit;
}

#title a:before {
  content: "\261E ";
  color: #999;
  display: inline-block;
  margin-right: 0.25em;
  text-align: right;
  width: 2em;
  margin-left: -2.25em;
}

#nut {
  font-style: italic;
  margin: -1em 0 1em;
  font-size: 1em;
  line-height: 2em;
  color: #999;
}

a {
  color: #009;
  text-decoration: none;
}

p.error {
  color: #900;
}

p.notice {
  color: #b9f208;
}

a.sign-in {
  color: #fff;
  background: #209be9;
  display: inline-block;
  padding: 0.5em 1em;
  box-shadow: 0 1px 1px #ccc;
}

.unit {
  float: left;
  padding: 0 1em 2em 0;
  width: 20em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.unit > *:first-child {
  margin-top: 0;
}

summary:before {
  display: none;
}

#user li {
  list-style: none;
}

.name {
  margin-bottom: 0.25em;
}

.profile a, .api-key summary, .sign-out button {
  background: none;
  padding: 0;
  font: inherit;
  font-size: 0.75em;
  line-height: 1.333em;
  color: #999;
  box-shadow: none;
  cursor: pointer;
  outline: 0;
  display: inline-block;
}

.api-key summary + * {
  display: block;
  margin-top: 1em;
}

a.sign-out {
  color: #999;
  font-size: 0.75em;
  line-height: 1.333em;
}

.api-key p {
  font-size: 0.75em;
  line-height: 1.333em;
  margin-bottom: 0.667em;
}

.api-key tt {
  font-family: monospace;
}

.api-key .key {
  font-size: 0.5em;
  line-height: 1em;
  padding: 1em;
  background: #eee;
  text-align: center;
  margin-bottom: 1em;
}

#form_create {
  border-top: 0.1em solid #ccc;
  padding-top: 0.9em;
}

form ul {
  list-style: none;
}

form li {
  margin-bottom: 1em;
}

label[for='file'] {
  visibility: hidden;
  position: absolute;
  top: -100%;
  left: -100%;
}

label {
  font-size: 0.75em;
  line-height: 1.333em;
  color: 333;
  display: block;
}

input[type='text'], .input-with-extra {
  font-size: 1em;
  line-height: 1em;
  font-family: sans-serif;
  padding: 0.4em;
  border: 0.1em solid #999;
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.input-with-extra {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.input-with-extra input[type='text'] {
  border: 0;
  margin: -0.4em;
  padding-left: 0;
  margin-left: 0;
  background: transparent;
}

.input-with-extra span {
  color: #999;
}

button {
  color: #fff;
  background: #339;
  font-size: 1em;
  padding: 0.5em 1em;
  border: 0;
  box-shadow: 0 1px 1px #ccc;
  cursor: pointer;
}

button.destructive {
  background: #933;
}

button.link {
  color: #009;
  background: none;
  padding: 0;
  box-shadow: none;
}

button.link.destructive {
  color: #933;
  background: none;
}

h2, h3 {
  margin: 2em 0 0.5em;
  font-size: 1em;
}

#documents {
  list-style: none;
}

#documents li {
  margin-bottom: 0.5em;
}

#documents a.title {
  display: block;
  color: inherit;
  width: 100%;
  height: 2em;
}

#documents a.title > * {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#documents .meta {
  position: relative;
}

#documents .meta:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2em;
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0), #fff);
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0), #fff);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff);
}

#documents .user, #documents .partial-path {
  display: inline-block;
  font-style: normal;
  color: #333;
  font-size: 0.75em;
  line-height: 1.5em;
  height: 1.5;
}

#documents .partial-path * {
  display: inline-block;
}

#documents .user:after, #documents .partial-path *:after {
  display: inline-block;
  content: "/";
  margin: 0 -4px 0 0;
  color: #ccc;
  /*
  content: " ";
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #ccc;
  margin-right: -4px;
  margin-left: 1ex;
  */
}

#documents .title {
  font-weight: bold;
  color: #009;
  line-height: 1em;
  height: 1em;
  padding: 0.25em;
  margin: -0.25em;
  text-overflow: ellipsis;
}

#documents .extension {
  color: #999;
  font-weight: normal;
}

#documents aside {
  color: #BBB;
  display: block;
  opacity: 0;
  -webkit-transition: 0.2s opacity;
  -moz-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

#documents li:hover aside {
  opacity: 1;
}

#documents aside > * {
  display: inline-block;
  margin-right: 0.5em;
  font-size: 0.75em;
  line-height: 1.5em;
}

#documents aside a, #documents aside button.link:not(.destructive) {
  color: inherit;
}

.who-mike-jones {
  float: none;
  clear: both;
  margin-top: 2em;
  border-top: 0.05em solid #ccc;
  padding-top: 1.95em;
  width: auto;
}

.who-mike-jones a {
  color: #ccc;
}

.who-mike-jones a:hover {
  color: #99e;
}

#editor, #editor * {
  font-family: monospace;
  font-size: 1em;
}

#editor {
  width: 100%;
  min-height: 500px;
  margin-bottom: 1em;
}

#form_edit.with-ace-editor {
  overflow: hidden;
  margin: 1em 0 0.5em;
}

#form_edit.with-ace-editor .contents {
  display: none;
}

#form_edit.with-ace-editor ul {
  float: left;
}

#form_edit.with-ace-editor input[type='text'] {
  width: 30em;
}

#form_edit.with-ace-editor button {
  float: right;
  vertical-align: bottom;
  margin-top: 1em;}

@media (max-width: 640px) {
  body {
    margin: 1em;
  }

  .unit {
    float: none;
    padding-right: 0;
    width: auto;
  }

  #title a:before {
    margin-left: 0em;
    width: auto;
  }
}